# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [86]:
import os
import pandas as pd
import numpy as np
# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [23]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [48]:
df.head(10)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6
6   23.0    299.0   8.6    65      5    7
7   19.0     99.0  13.8    59      5    8
8    8.0     19.0  20.1    61      5    9
9    NaN    194.0   8.6    69      5   10

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [46]:
total_count = df["Day"].count()
total_count

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [49]:
head = df.head(0)
for i in head:
    print i

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [62]:
len(head.count())

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [63]:
first_2 = df.head(2)
print first_2

#data describes the ozone, solar, wind and temp for the first couple of days the data was sampled

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [64]:
last_2 =df.tail(2)
print last_2
#data describes the ozone, solar, wind and temp for the last couple of days the data was sampled

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [69]:
df[47:48]
#37.0

    Ozone  Solar.R  Wind  Temp  Month  Day
47   37.0    284.0  20.7    72      6   17

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [97]:
missing = df['Ozone'].isnull().sum()
missing

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [139]:
df_non_null = df[df["Ozone"].notnull()]
df_non_null['Ozone'].mean()

42.1293103448
42.1293103448

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [156]:
Ozone_31 = df['Ozone']>31
temp_90 = df['Temp']>90
subset = df[Ozone_31 & temp_90]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [157]:
subset['Solar.R'].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [168]:
df[df["Month"]==6]["Temp"].mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [169]:
df[df["Month"]==5]["Ozone"].max()

115.0